
@model List<Biblioteca2._0.Models.Livro>

@{
    ViewData["Title"] = "Home Page";

}
    

<div id="root">

    <h1>Mais Vendidos</h1>
    <div class="card-deck">

        <div class="card">
            <img class="card-img-top" :src="livro1" alt="Imagem de capa do card" width="288px" height="281px">
            <div class="card-body">
                <h5 class="card-title">Nome</h5>
                <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" :src="livro2" alt="Imagem de capa do card" width="288px" height="281px">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" :src="livro3" alt="Imagem de capa do card" width="288px" height="281px">
            <div class="card-body">
                <h5 class="card-title"> </h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" :src="livro3" alt="Imagem de capa do card" width="288px" height="281px">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
    </div>
    <br />
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" :src="livro1" alt="Imagem de capa do card" width="288px" height="281px">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" :src="livro2" alt="Imagem de capa do card" width="288px" height="281px">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" :src="livro3" alt="Imagem de capa do card" width="288px" height="281px">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" :src="livro3" alt="Imagem de capa do card" width="288px" height="281px">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
    </div>
    <br />
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" :src="livro1" alt="Imagem de capa do card" width="288px" height="281px">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" :src="livro2" alt="Imagem de capa do card" width="288px" height="281px">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" :src="livro3" alt="Imagem de capa do card" width="288px" height="281px">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" :src="livro3" alt="Imagem de capa do card" width="288px" height="281px">
            <div class="card-body">
                <h5 class="card-title">Teste</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
        </div>
    </div>
</div>

    }
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
        var app = new Vue({
            el: "#root",
            data: {
                livro1: "https://m.media-amazon.com/images/I/410X4mW-n1L.jpg",
                livro2: "https://http2.mlstatic.com/D_NQ_NP_643852-MLB42574833468_072020-O.jpg",
                livro3: "https://photos.enjoei.com.br/livro-o-pequeno-principe/1200xN/czM6Ly9waG90b3MuZW5qb2VpLmNvbS5ici9wcm9kdWN0cy83MTA5NTMzL2FlNzRjMTBkZTQ3NzQ3Njc5ODRmNTkwNjFkNGRhNjA0LmpwZw",

            }

        })
    </script>

    <link rel="stylesheet" href="~/css/site.css" />

}

